html, body {height: 100%;}

body {display: flex;flex-direction: column;}

h3 {margin-bottom: 6px;margin-left: 6px;}

table {table-layout: fixed;}

td {overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}

.notice {float: left;position: relative;top: 15px;
    height : 330px;width: 500px;}

.notice table{width: 50%;}

.notice tr{height: 40px;}

.notice td{width: 500px;}