html, body {height: 100%;}

h3 {margin-bottom: 6px;margin-left: 6px;margin-top: 30px; width: 40%}

table {table-layout: fixed}
.table{width:100%; margin-bottom: 30px; margin-right: auto;margin-left: 50px}

.inner{width: 100%; height: 100%; padding: 10px;}

td{
    width: 40%;
    margin:0 auto;
    vertical-align: top;
}
hr{
    border: 1px solid #D5D5D5;
    width: 80%;
}