@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans KR', sans-serif;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

table {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

tr {
    height: 40px;
    /*border-bottom : solid 5px gray;*/
    border: solid 5px gray;
}

td {
    align-content: center;
}

a {
    color: black;
}

#section {
    width: 58%;
    margin-left: auto;
    margin-right: auto;
}

.btn {
    border-radius: 5px;
    border: 2px solid #c7d696;
    background: #c7d696;
    font-size: 13px;
    cursor: pointer;
    width: 50px;
}

.inputBox {
}

#num {
    width: 7%;
}

#title {
    width: 73%;
}

#date {
    width: 10%;
}

#viewNum {
    width: 10%;
}