html, body {
    height: 100%;
}

#pageTitle {
    font-size: 30px;
    margin-top: 20px;
}

table {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    border: solid 1px black;
}

tr {
    height: 40px;
}

td {
    align-content: center;
    /*border: solid 1px gray;*/
}

a {
    color: black;
}

.search{
    display: inline;
    /*margin: 30px 0;*/
}

#form{
    float: left;
    display: inline;
    margin: 10px 0;
}

.writeBtn{
    float: right;
    display: inline;
    margin: 10px 0;
}

.btn {
    border-radius: 5px;
    border: 2px solid #c7d696;
    background: #c7d696;
    font-size: 13px;
    cursor: pointer;
    width: 50px;
}

.inputBox {
}

#list{
    clear: both;
}

.num {
    width: 5%;
    text-align: center;
}

.title {
    width: 70%;
}

.date {
    width: 10%;
    text-align: center;
}

.writer {
    width: 10%;
    text-align: center;
}

.viewNum {
    width: 5%;
    text-align: center;
}