html, body {
    height: 100%;
}

#pageTitle {
    font-size: 30px;
    margin: 20px 0;
}

table {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    border: 1px solid #c6c6c6;
}

tr {
    height: 40px;
}

td {
    align-content: center;
}

a {
    color: black;
}

.search{
    display: inline;
}

.writeBtn{
    float: right;
    display: inline;
    margin: 10px 0;
}


.btn{
    font-size: 14px;
    cursor:pointer;
    padding: .4em .75em;
    background-color: #fdfdfd;
    color: #999;
    border: 1px solid #c6c6c6;
    border-radius: .25em;
}

.inputBox {
    height: 30px;
    margin-bottom: 10px;
    border: 1px solid #c6c6c6;
}

#list{
    clear: both;
}

.num {
    width: 5%;
    text-align: center;
}

.title {
    width: 70%;
}

.date {
    width: 10%;
    text-align: center;
}

.writer {
    width: 10%;
    text-align: center;
}

.viewNum {
    width: 5%;
    text-align: center;
}