@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans KR', sans-serif;
}

html, body {
    height: 100%;
}

table {
    width: 100%;
    margin: auto;
    text-align: center;
    border: solid 1px #c7d696;
}

th {
    width: 10%;
    border-bottom: 2px solid #c7d696;
    background: white;
    text-align: center;
    font-size: 17px;
    color: black;
}

td {
    border-bottom: 2px solid #c7d696;
    text-align: left;
    font-size: 15px;
    color: black;
}

#pageTitle {
    font-size: 30px;
    margin: 20px 0;
}

hr {
    margin-top: 15px;
    border-color: #c7d696;
}

.inputBox {
    width: 90%;
    height: 30px;
    font-size: 14px;
}

#content{
    height: 100px;
    resize: none;
}

.left{
    text-align: left;
}

#image{
    margin-left: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

button {
    border: 0;
    background: #c7d696;
    margin-left: 5px;
    cursor: pointer;
    border-radius: 5px;
    width: 50px;
    padding: 2px;
}
.btn {
    background: #c7d696;
    border: 0;
    border-radius: 5px;
    width: 100px;
    height: 40px;
    font-size: 14px;
    cursor:pointer;
}

.button {
    display: flex; /* 크기를 바꿔서라도 한줄에 우겨넣음 */
    flex-direction: row; /* 가로줄(row) or 세로줄(colmun) */
    flex-wrap: wrap; /* 크기변형X 한줄 넘으면 다음줄*/
    justify-content: flex-end;
    width: 110px;
    margin: 15px auto;
}
.pagebtn{
    background: #c7d696;
    border: 0;
    border-radius: 5px;
    width: 50px;
    height: 25px;
    font-size: 14px;
    cursor:pointer;
}