html, body {
    height: 100%;
}

table {
    width: 100%;
    margin: auto;
    text-align: center;
    border: 0;
}

th {
    width: 10%;
    /*border-bottom: 2px solid #c7d696;*/
    background: white;
    text-align: center;
    font-size: 17px;
    color: black;
}

td {
    /*border-bottom: 2px solid #c7d696;*/
    text-align: center;
    font-size: 15px;
    color: black;
}

#pageTitle {
    font-size: 30px;
    margin: 20px 0;
}

hr {
    margin-top: 15px;
    border-color: #c7d696;
}

.inputBox {
    width: 98%;
    height: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
    border: 1px solid #c6c6c6;
}

#content{
    height: 600px;
    resize: none;
    border: 1px solid #c6c6c6;
}

.left{
    text-align: left;
}

#image{
    margin-left: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

button {
    font-size: 14px;
    cursor:pointer;
    padding: .4em .75em;
    background-color: #fdfdfd;
    color: #999;
    border: 1px solid #c6c6c6;
    border-radius: .25em;
    margin-left: 5px;
}

.button {
    display: flex; /* 크기를 바꿔서라도 한줄에 우겨넣음 */
    flex-direction: row; /* 가로줄(row) or 세로줄(colmun) */
    flex-wrap: wrap; /* 크기변형X 한줄 넘으면 다음줄*/
    justify-content: flex-end;
    width: 110px;
    margin: 15px auto;
}