html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

#section {
    flex: 1;
    width: 70%;
    margin: 30px auto;
}

table {
    text-align: left;
    margin: 0 auto;
    border: 0;
    z-index: 1;
}

td {
    padding: 10px;
    font-size: 13px;
}

th {
    font-size: 15px;
    width: 150px;
}

select {
    height: 30px;
}

.line {
    border-bottom: 3px solid #f59e92;
    font-size: 2em;
    width: 150px;
}

.title {
    text-align: center;
    font-size: 40px;
    margin-top: 30px;
}

.btn {
    font-size: 14px;
    cursor:pointer;
    padding: .4em .75em;
    background-color: #fdfdfd;
    color: #808080;
    border: 1px solid #c6c6c6;
    border-radius: .25em;
    margin-top: 10px;
}
.box {
    height: 30px;
    font-size: 14px;
    border: 1px solid #c6c6c6;
    border-radius: .25em;
}